@{
    ViewData["Title"] = "Väderstation";
}
<div class="text-center">
    <h1 class="display-4">Väderstation</h1>
    <p>Uppdaterar graferna om: <span id="timer-minutes"></span> <span id="timer-seconds"></span></p>
    <p>Grafer som visar temperatur, luftfuktighet och vindhastighet från en väderstation i ett garage någonstans i Falun.</p>
</div>
<h2>Temperatur</h2>
<canvas id="myTempChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>
<h2>Luftfuktighet</h2>
<canvas id="myHumidChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>
<h2>Vindhastighet</h2>
<canvas id="myWindSpeedChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>

