@{
    ViewData["Title"] = "Förstasida";
}
<div class="text-center">
    <h1 class="display-4">Vindstation</h1>
    <p>Uppdaterar om: <span id="timer"></span> minuter</p>
    <p>Grafer som visar temperatur, luftfuktighet och vindhastighet från en vindstation i ett garage någonstans i Falun.</p>
</div>
<h2>Temperatur</h2>
<canvas id="myTempChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>
<h2>Luftfuktighet</h2>
<canvas id="myHumidChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>
<h2>Vindhastighet</h2>
<canvas id="myWindSpeedChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>

