@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Charts</h1>
    <span id="timer"></span>
    <p>Data charts displaying temperatures, humidity and wind speed of a weather station.</p>
</div>
<h2>Temperature chart</h2>
<canvas id="myTempChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>
<h2>Humidity chart</h2>
<canvas id="myHumidChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>
<h2>Wind chart</h2>
<canvas id="myWindSpeedChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>

