@{
    ViewData["Title"] = "Väderstation";
}
<div class="text-center">
    <h1 class="display-4">Väderstation</h1>
    <p>Uppdaterar graferna om: <span id="timer-minutes"></span> <span id="timer-seconds"></span></p>
    <p>Grafer som visar temperatur, luftfuktighet och vindhastighet från en väderstation i ett garage någonstans i Falun.</p>
    <div id="timeScale">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="dayRadio" value="day" >
            <label class="form-check-label" for="dayRadio">En dag</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="weekRadio" value="week">
            <label class="form-check-label" for="weekRadio">En vecka</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="monthRadio" value="month">
            <label class="form-check-label" for="monthRadio">En månad</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="allRadio" value="year" checked>
            <label class="form-check-label" for="allRadio">Ett år</label>
        </div>
    </div>
</div>
<canvas id="myTempChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>
<canvas id="myHumidChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>
<canvas id="myWindSpeedChart" width="1000" height="300" class="chartjs-render-monitor" style="display: block;"></canvas>

