<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2d370461-ffa3-409b-94e4-0b517036a164/resourceGroups/WeatherStation/providers/Microsoft.Web/sites/case-weatherapp</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://case-weatherapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>case-weatherapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>case-weatherapp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$case-weatherapp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>